{% extends "layout.html" %}
{% block title %} {{ book.isbn }} {% endblock %}
{% block header %} <i>{{ book.title }}</i> by {{ book.author }} ({{ book.year }}) {% endblock %}
{% block main %}

{% if gr_book %}
    <h2>Goodreads Reviews</h2>
    <p>Average Rating: <strong>{{ gr_book['average_rating'] }}</strong> out of <strong>{{ gr_book['reviews_count'] }}</strong> ratings.</p>
{% else %}
    <div class="alert alert-danger" role=alert>
        <p> {{ message }} </p>
    </div>
{% endif %}

<h2>Recent Reviews</h2>
<ul class="list-unstyled">
    {% for review in reviews %}
        <li class="border border-light"></li>>
            Review by {{ review.username }} rating: {{ review.rating }}
            <ul class="list-unstyled">
                <li> {{ review.review }} </li>
            </ul>
        </li>
    {% endfor %}
</ul>

{% if session['user'] %}
    {% if user_reviewed %}
        <h2>Your Review</h2>
        <ul class="list-unstyled">
            <li>
                rating: {{ users_review.rating }}
                <ul class="list-unstyled">
                    <li> {{ users_review.review }} </li>
                </ul>
            </li>
        </ul>
    {% endif %}

    {% if not users_review %}
        <form action="{{ url_for('profile', user=session['user']) }}" method="post">
            <div class="form-group">
                <label for="review">Enter your Review</label>
                <input class="form-control form-control-lg" type="text" name="review" placeholder="Enter your Review">
            </div>
            <div class="form-group">
                <label for="rating">Select a Rating</label>
                <select class="form-control" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" name="isbn" value="{{ isbn }}">
            </div>
            <div class="form-group">
                <button>Add Review</button>
            </div>
        <form>
    {% endif %}
{% endif %}

{% endblock %}